{% extends "staffhome.html" %}
{% block content %}

<img src="/static/backgroundone.jpg" class="card-img" alt="..." style="height:35rem;">
<div class="card-img-overlay">
    <center style="margin-top:6rem;">
        {% if password == 'valid' %}
        <form class="form-control w-50" action="{% url 'staffresetpassword' %}" method="post">
            {% csrf_token %}
            <h2 style="color: black;">Staff Reset Password Page</h2>
            <div class="row g-3 align-items-center">
                <div class="form-group">
                    <input type="password" class="form-control" name="oldpassword" required="true"
                        placeholder="Enter Old Password">
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3" style="margin-left: 17rem;">Reset
                        Password</button>
                </div>
            </div>


        </form>
        {% else %}

        <form class="form-control w-50" action="{% url 'updatestaffresetpassword' %}" method="post">
            {% csrf_token %}



            <h2 style="color: black;">Staff Update Password Page</h2>
            <div class="row g-3 align-items-center">
                <div class="form-group">
                    <input type="password" class="form-control" name="NewPassword" required="true"
                        placeholder="Enter New Password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="ConfirmPassword" required="true"
                        placeholder="Enter Confirm Password">
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3" style="margin-left: 17rem;">Update
                        Password</button>
                </div>
            </div>
        </form>



        {% endif %}

    </center>
</div>

{% endblock %}